<div id = "new-user-form">
  <%= form_for :new_user, url: '/users' do |t| %>
    <%= t.label :username %>
    <%= t.text_field :username %>

    <%= t.label :password %>
    <%= t.password_field :password %>

    <%= t.label :email %>
    <%= t.text_field :email %>

    <%= t.submit "create account" %>
  <% end %>
</div>
