<!DOCTYPE html>
<html>
<head>
  <title>ToiletOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <h2><%=link_to "Toilet Overflow", root_path %></h2>
    <%=link_to "Questions", questions_path %>
    <%=link_to "Answers", answers_path %>
  </div>
<%= yield %>

</body>
</html>
